TORONTO POSTAL CODES: COORDINATES RETRIEVAL
=

At this point we will get the coordinates of each neighborhood

First, we import some libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%config IPCompleter.greedy=True
%config IPCompleter.use_jedi=False

Now, we import Toronto postal code into a dataframe:

In [2]:
toronto_df = pd.read_csv('C:/Users/NITROPC/Desktop/DATA SCIENCE/CERTIFICACION IBM/09 - PROYECTO FINAL/02 - AGRUPACION K-MEANS/data/toronto_postal_codes.csv')
print(toronto_df.shape)
toronto_df.head()

(103, 3)

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

GETTING COORDINATES

We use the Geocoder.arcgis() method to retrieve the coordinate of each postal code

In [4]:
import geocoder

First, we try to obtain the coordinates of one postal code

In [6]:
coord = geocoder.arcgis('M3A, Toronto, Ontario')
coord.latlng

[43.75245000000007, -79.32990999999998]

We create a new dataframe and loop over each postal code

In [12]:
coord_df = pd.DataFrame(columns = ['postal_code', 'latitude', 'longitude'])
coord_df.head()

Empty DataFrame
Columns: [postal_code, latitude, longitude]
Index: []

In [13]:
coordinate = None
for poscode in toronto_df.PostalCode.to_list():
    while (coordinate is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(poscode))
        coordinate = g.latlng
    
    coord_df = coord_df.append({'postal_code': poscode, 
                                'latitude': coordinate[0], 
                                'longitude': coordinate[1]}, ignore_index=True)
    coordinate = None

coord_df.head()

  postal_code  latitude  longitude
0         M3A  43.75245  -79.32991
1         M4A  43.73057  -79.31306
2         M5A  43.65512  -79.36264
3         M6A  43.72327  -79.45042
4         M7A  43.66253  -79.39188

COMBINING DATAFRAMES

In [14]:
toronto_con_df = pd.concat([toronto_df, coord_df[['latitude', 'longitude']]], axis = 1)
toronto_con_df

,PostalCode,Borough,Neighbourhood,latitude,longitude
0,M3A,North York,Parkwoods,43.75245,-79.32991
1,M4A,North York,Victoria Village,43.73057,-79.31306
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.65512,-79.36264
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.72327,-79.45042
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.66253,-79.39188
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.65319,-79.51113
99,M4Y,Downtown Toronto,Church and Wellesley,43.66659,-79.38133
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.64869,-79.38544
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.63278,-79.48945
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.62513,-79.52681

In [15]:
toronto_con_df.to_csv('C:/Users/NITROPC/Desktop/DATA SCIENCE/CERTIFICACION IBM/09 - PROYECTO FINAL/02 - AGRUPACION K-MEANS/data/toronto_poscode_coord.csv', index = False)
toronto_con_df.shape

(103, 5)